@font-face{
    font-family:Emma;
    src:url(Fonts/0.ttf)
    }
h1{
    font-family:Emma
    }
h3{
    padding-top:13em
    }
.Glux{
    position:static;
    padding-left:7px;
    margin-left:8px;
    padding-right:7px;
    margin-right:8px
    }
.Y-Glux{
    position:relative;
    color:#44d5eb;
    padding-left:10px;
    opacity:0.5
    }
p.Text{
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
    color:#eccccc;
    text-align:justify
    }
.Y-Back{
    background-color:#6c737f;
    border-radius:30px 30px 30px 30px
    }
body{margin:0}
ul.topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    background-color:#333
    }
ul.topnav li{
    float:left
    }
ul.topnav li a{
    display:block;
    color:white;
    text-align:center;
    padding:7px 16px;
    text-decoration:none
    }
ul.topnav li a:hover:not(.active){
    background-color:#111
    }
ul.topnav li a.active{
    background-color:#748baf
    }
ul.topnav li.right{
    float:right
    }
@media screen and (max-width:600px){
    ul.topnav li.right,
    ul.topnav li{ float:none; box-shadow:none; }
    }
@media screen and (max-width:462px){
    a#Olymp.footer,
    span#Text{ display:none; }
    img#CC{ float:none; padding:0; }
    }
*{
    box-sizing:border-box;
    }
.footer{
    flex:0 0 fixed;
    text-align:center
    }
a.footer{
    color:#d6cbd1;
    text-decoration:none
    }
a.footer:hover{
    color:#f70c0c
    }
#Olymp{
    float:left;
    padding-left:9px;
    font-size:20px
    }
#CC{
    border-width:0;
    float:right;
    padding-right:9px
    }
.girlyand{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:19px;
    background:url(../img/gar.png) repeat-x
    }
::-webkit-scrollbar{
    width:6px
    }
::-webkit-scrollbar-track{
    box-shadow:inset 0 0 20px rgba(0,0,0,0.3)
    }
::-webkit-scrollbar-thumb{
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgba(255,0,0,0,0.2);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.5)
    }
::-webkit-scrollbar-thumb:window-inactive{
    background:rgba(255,0,0,0.4)
    }