ErrorDocument 403 /err403.php
ErrorDocument 404 /err404.php
RewriteEngine On

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html|php)
RewriteRule ^index\.(html|php) /? [R=301,L]

redirect /contact.php/ http://e-phyastro.xyz/contact.php
redirect /aboutus.php/ http://e-phyastro.xyz/aboutus.php
redirect /news.php/ http://e-phyastro.xyz/news.php
<Limit GET POST>
  order allow,deny
  allow from all
</Limit>